<!DOCTYPE html>
<html ng-app="chirpApp">
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="javascripts/chirpApp.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
	<div id='main'>
		<nav class="navbar-fluid navbar-default navbar-fixed-top">
			<div class="container">
				<a class="navbar-breand" href="#!"> Chirp! </a>
				<p class="navbar-text"> Learn the MEAN stack by building this tiny app</p>
				<p class="navbar-right navbar-text" ng-hide="authenticated">
					<a href="#!/login">Login</a> or <a href="#!/register">Register</a>
				</p>
				<p class="navbar-right navbar-text" ng-show="authenticated">
					<a href="#" ng-click="signout()">Logout</a>
				</p>
				<p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user}}</p>
			</div>
		</nav>
			<div ng-view>
			</div>
	</div>
  </body>
</html>
